@charset "UTF-8";
/*********************************************************************************************************************************/
/********************************************************** I.M.P.O.R.T **********************************************************/
/*********************************************************************************************************************************/
/***************************************************************************************************/
/**************************************** V.A.R.I.A.B.L.E.S ****************************************/
/***************************************************************************************************/
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Barlow:wght@400;700&family=Great+Vibes&family=Heebo&family=Karla:wght@300;400&family=Kaushan+Script&family=Nunito&family=Open+Sans&family=Pacifico&family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Barlow:wght@400;700&family=Great+Vibes&family=Heebo&family=Karla:wght@300;400&family=Kaushan+Script&family=Nunito&family=Open+Sans&family=Oswald&family=Pacifico&family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Barlow:wght@400;700&family=Great+Vibes&family=Heebo&family=Karla:wght@300;400&family=Kaushan+Script&family=Lobster&family=Nunito&family=Open+Sans&family=Oswald&family=Pacifico&family=Playfair+Display+SC:wght@700&family=Playfair+Display:ital,wght@0,500;0,600;0,700;1,600;1,800&family=Poppins&family=Raleway:wght@500&display=swap");
/***************************************************************************************************/
/******************************************* M.I.X.I.N.S *******************************************/
/***************************************************************************************************/
/***************************************************************************************************/
/******************************************* M.E.D.I.A *******************************************/
/***************************************************************************************************/
/*********************************************************************************************************************************/
/********************************************************** I.M.P.O.R.T **********************************************************/
/*********************************************************************************************************************************/
/*********************************************************************************************************************************/
/******************************************************* O.V.E.R.R.I.D.E.S *******************************************************/
/*********************************************************************************************************************************/
/***************************************************************************************************/
/****************************************** G.E.N.E.R.A.L ******************************************/
/***************************************************************************************************/
body {
  color: #fff;
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  background: #050416;
  overflow-x: hidden;
}

.btn:focus {
  box-shadow: none !important;
}

.form-control:focus {
  box-shadow: none !important;
}

a {
  text-decoration: none !important;
}

h1, h5, h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 800 !important;
  color: #272727;
}

.pt-50 {
  padding-top: 100px;
}

.pb-50 {
  padding-bottom: 100px;
}

p {
  margin-bottom: 0 !important;
  color: #fff;
  line-height: 25px;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

/*********************************************************************************************************************************/
/******************************************************* O.V.E.R.R.I.D.E.S *******************************************************/
/*********************************************************************************************************************************/
/*********************************************************************************************************************************/
/*********************************************************** S.T.Y.L.E ***********************************************************/
/*********************************************************************************************************************************/
.nav-top {
  height: 50px;
  background-color: #000;
}
.nav-top ul li {
  color: #fff;
  font-size: 11px;
  float: left;
  margin-right: 47px;
  height: 50px;
  line-height: 50px;
}
.nav-top ul li i {
  color: #ff9b08;
  margin-right: 10px;
  font-size: 13px;
}
.nav-top ul li a {
  color: #fff;
  font-size: 11px;
  transition-duration: 0.3s;
}
.nav-top ul li a:hover {
  color: #ff9b08;
}
@media only screen and (max-width : 576px) {
  .nav-top {
    display: none !important;
  }
}
.nav-top ul li.social-bloc {
  float: right;
  margin-right: 0;
}
.nav-top ul li.social-bloc a {
  display: inline-block;
  margin-left: 20px;
}
.nav-top ul li.social-bloc a i {
  font-size: 17px;
  color: #5a5a5a;
  margin-right: 0;
  transition-duration: 0.3s;
}
.nav-top ul li.social-bloc a i:hover {
  color: #ff9b08;
}

.header-down.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.95) !important;
}
.header-down.sticky .navbar {
  background: #fff;
}
.header-down.sticky .navbar a.nav-link {
  color: #000;
  font-weight: 600;
}
.header-down.sticky .btn-main {
  color: #000;
}
.header-down .navbar {
  height: 80px;
  background: rgba(0, 0, 0, 0.5);
  transition-property: all;
  transition-duration: 0.5s;
}
.header-down .navbar-nav {
  padding-top: 29px;
  text-transform: uppercase;
  font-weight: 500;
  transition-property: all;
  transition-duration: 0.4s;
}
.header-down .navbar-nav a.nav-link {
  color: #fff;
  padding: 0;
  margin-left: 33px;
  padding-bottom: 30px;
  transition-property: all;
  transition-duration: 0.5s;
  position: relative;
  overflow: hidden;
  font-weight: 500;
}
.header-down .navbar-nav a.nav-link::after {
  content: "";
  position: absolute;
  left: 11px;
  bottom: 22px;
  width: 0;
  opacity: 0;
  height: 2px;
  background-color: #ff9b08;
  transition-property: all;
  transition-duration: 0.3s;
}
.header-down .navbar-nav a.nav-link::before {
  content: "";
  position: absolute;
  left: 1px;
  bottom: 20px;
  width: 6px;
  height: 6px;
  background-color: #ff9b08;
  border-radius: 6px;
  display: none;
}
.header-down .navbar-nav a.nav-link.active, .header-down .navbar-nav a.nav-link:hover {
  color: #ff9b08 !important;
}
.header-down .navbar-nav a.nav-link.active:before, .header-down .navbar-nav a.nav-link:hover:before {
  display: block;
}
.header-down .navbar-nav a.nav-link.active:after, .header-down .navbar-nav a.nav-link:hover:after {
  width: 100%;
  right: 0;
  opacity: 1;
}
@media only screen and (max-width : 576px) {
  .header-down {
    display: none !important;
  }
}

.main_header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 30;
}

.text-primary {
  color: #ff9b08 !important;
}

#main_menus .logo {
  max-width: 100px;
}
#main_menus .logo img {
  height: auto;
  object-fit: cover;
  width: 100%;
}

.btn-main, .theme-btn {
  line-height: 35px;
  padding: 0 20px;
  font-size: 0.9em;
  position: relative;
  display: inline-block;
  color: #fff;
  background-color: transparent;
  border-color: #ff9b08;
  transition: all 0.3s ease-out;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 0;
  border: 1px solid transparent;
}
.btn-main:hover, .theme-btn:hover {
  background-color: #ff9b08;
  border-color: #ff9b08;
  opacity: 0.9;
  color: #fff !important;
  border: 1px solid #ff9b08;
  box-shadow: inset 150px 0 0 0 #ff9b08;
}
.btn-main::after, .btn-main::before, .theme-btn::after, .theme-btn::before {
  display: block;
  transition: all 0.3s ease;
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 10px;
  border: 2px solid #ff9b08;
}

.btn-main:after, .theme-btn:after {
  bottom: 0;
  border-top: 0;
}

.btn-main:before, .theme-btn:before {
  top: 0;
  border-bottom: 0;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  width: 2rem;
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.5);
}

.carousel-control-next, .carousel-control-prev {
  width: auto;
}

.carousel-inner .carousel-item img.home-bg {
  height: 100vh;
  min-height: 650px;
}
.carousel-inner .overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0.6;
  background: rgba(0, 0, 0, 0.6);
}
.carousel-inner .carousel-caption {
  position: absolute;
  top: 30%;
  left: 0;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  text-align: left;
}
.carousel-inner .text-block {
  position: absolute;
  display: table;
}
.carousel-inner .text-block h4 {
  font-size: 50px;
  color: #fff;
  font-weight: 600;
  text-align: left;
  margin: 0 0 10px;
  line-height: 70px;
  letter-spacing: 1px;
}

.section-title {
  margin: 14px 0 34px;
  line-height: 42px;
  padding-bottom: 35px;
  position: relative;
  font-size: 40px;
  letter-spacing: 2px;
}
.section-title:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 6px;
  height: 6px;
  background-color: #ff9b08;
  border-radius: 6px;
}
.section-title:after {
  content: "";
  position: absolute;
  left: 13px;
  bottom: 1px;
  width: 29px;
  height: 2px;
  background-color: #ff9b08;
}
.section-title.sep-type-2:after {
  width: 78px;
  height: 2px;
  left: 50%;
  margin-left: -39px;
  z-index: 0;
}
.section-title.sep-type-2:before {
  z-index: 1;
  width: 20px;
  left: 50%;
  margin-left: -10px;
  content: "●";
  color: #ff9b08;
  background: #000;
  line-height: 6px;
  font-size: 12px;
  border-radius: 0;
  height: 10px;
  bottom: -3px;
  padding-left: 6px;
  text-align: left;
}

.section-suptitle {
  font-size: 30px;
  color: #ff9b08;
  font-family: "Architects Daughter";
  letter-spacing: 1px;
  display: block;
  line-height: 32px;
}

.section-desc p {
  text-align: justify;
}

.our-services .single-services-item {
  position: relative;
  z-index: 1;
  display: block;
  padding: 50px 30px;
  text-align: center;
  border-radius: 3px;
  background-color: rgba(70, 58, 255, 0.12);
  transition: all 500ms ease-out;
}
.our-services .single-services-item h3 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 0;
  transition: all 400ms ease-out;
  will-change: transform;
}
.our-services .single-services-item p {
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: 0;
  transition: all 400ms ease-out;
  will-change: transform;
}
.our-services .services-images {
  margin-bottom: 20px;
}
.our-services .services-images img {
  width: 75px;
}

.count-section .count-number {
  font-size: 72px;
}

.token-area .token-image {
  text-align: center;
}
.token-area .token-content p {
  margin-bottom: 15px !important;
  font-size: 14px;
  color: #fff;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.5px;
}
.token-area .token-content h2 {
  font-size: 33px;
  font-weight: 700;
  margin-bottom: 15px;
}
.token-area .token-content .token-list li {
  line-height: 45px;
  font-weight: 500;
}
.token-area .token-content .token-list .color-1 {
  background: #0fa5fd;
}
.token-area .token-content .token-list .color-2 {
  background: #865bf3;
}
.token-area .token-content .token-list .color-3 {
  background: #e65356;
}
.token-area .token-content .token-list .color-4 {
  background: #e6c253;
}
.token-area .token-content .token-list .color-5 {
  background: #00f9a7;
}
.token-area .token-content .token-list span {
  width: 25px;
  height: 25px;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
  margin-right: 10px;
  margin-bottom: -8px;
}

.testimonial .section-title.sep-type-2:before {
  background: #000;
}
.testimonial .testi .item {
  margin: 10px;
}
.testimonial .testi .item .shadow-class {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  position: relative;
}
.testimonial .testi .item .shadow-class::after {
  width: 0;
  height: 0;
  content: "";
  border-style: solid;
  border-width: 12px 13px 0 13px;
  position: absolute;
  left: 50%;
  bottom: -12px;
  z-index: 8;
  margin-left: -13px;
  border-color: #fff transparent transparent transparent;
}
.testimonial .owl-theme .owl-dots .owl-dot.active span {
  background: #ff9b08;
}
.testimonial .owl-theme .owl-dots .owl-dot span {
  color: #ff9b08;
}
.testimonial .testi .item .profile img {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  object-fit: cover;
  margin-bottom: 10px;
  display: initial;
}
.testimonial .info_client {
  margin-top: 30px;
  text-align: center;
}
.testimonial h6 {
  font-size: 16px;
  margin: 0px auto 0px;
  color: #141414;
  font-weight: 600;
  line-height: 1.6;
}
.testimonial .profile1 p {
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 1.6em;
  display: block;
  z-index: 2;
  font-style: italic;
  color: #333;
  text-align: center;
}
.testimonial .owl-theme .owl-dots {
  margin-top: 30px;
}
.testimonial .testi .item .icon {
  text-align: center;
}
.testimonial i {
  font-size: 32px;
  color: #ffd832;
}
.testimonial .owl-theme .owl-nav {
  display: none;
}

#newsletter {
  background: linear-gradient(#ff9800, rgba(255, 87, 34, 0.87));
}
#newsletter h3 {
  font-size: 36px;
  letter-spacing: 0.5px;
  margin: 0;
  font-weight: 400;
}
#newsletter .phone {
  display: inline-block;
  color: #fff;
  background: rgba(0, 0, 0, 0.95) !important;
  border-radius: 0px 50px 0px 50px;
  margin-bottom: 0;
  padding: 8px 25px;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.15);
  font-size: 24px;
}
#newsletter .phone a {
  color: #fff;
  font-size: 26px;
}
@media only screen and (max-width : 576px) {
  #newsletter {
    text-align: center;
  }
  #newsletter .phone {
    font-size: 16px !important;
    margin-top: 30px;
  }
  #newsletter .phone a {
    font-size: 16px;
  }
}

#button {
  display: inline-block;
  background-color: #ff9b08;
  width: 40px;
  height: 40px;
  font-size: 14px;
  text-align: center;
  position: fixed;
  bottom: 30px;
  right: 10px;
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
  z-index: 200;
  border-radius: 50%;
}
#button i {
  color: #fff;
  margin: 0;
  position: relative;
  top: 10px;
  font-size: 16px;
  transition: all 0.3s ease;
}
#button:hover {
  cursor: pointer;
  opacity: 0.7;
}
#button:hover i {
  top: 5px;
}
#button.show {
  opacity: 1;
  visibility: visible;
}

/* mobile nav */
.mobilenav {
  display: none !important;
  z-index: 100;
  margin-top: 0 !important;
  background: rgba(0, 0, 0, 0.95) !important;
}
.mobilenav .row {
  display: flex;
  flex-wrap: nowrap;
}
.mobilenav .mobile_btn button:focus {
  outline: none;
  box-shadow: none;
}
.mobilenav .mobile_btn a.btn-link {
  color: #fff;
  text-decoration: none !important;
}
.mobilenav .mobile_btn a.btn-link i {
  font-size: 1.3em;
}
.mobilenav .card {
  border: none;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0px;
  right: 0;
  background-color: rgba(0, 0, 0, 0.95) !important;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 50px;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  margin-left: 50px;
  font-size: 36px;
  color: #fff;
}
.sidenav a.nav-link {
  padding: 10px 20px;
  font-size: 20px;
  color: #fff;
  text-align: center;
  display: block;
  transition: 0.3s;
  font-weight: 500;
}

/* mobile nav */
/*********************************************************************************************************************************/
/*********************************************************** S.T.Y.L.E ***********************************************************/
/*********************************************************************************************************************************/
@media (max-width: 1024px) {
  .mobile_btn .sidenav .btn-main, .mobile_btn .sidenav .theme-btn {
    margin-left: 0 !important;
  }

  .nav-top {
    display: none;
  }

  .header-down {
    display: none !important;
  }

  .mobilenav {
    display: block !important;
  }
  .mobilenav.card {
    border: none;
  }

  .logo_img {
    width: 120px;
  }

  .header-down .navbar-nav a.nav-link {
    font-size: 12px;
  }

  .carousel-caption {
    left: 1% !important;
    top: 20%;
  }

  .carousel-inner .carousel-item img.home-bg {
    height: auto;
  }

  #newsletter .phone {
    font-size: 16px !important;
  }
  #newsletter .phone a {
    font-size: 16px;
  }
}
@media (max-width: 912px) {
  .carousel-inner .carousel-item img.home-bg {
    height: 100%;
    min-height: 450px;
  }
  .carousel-inner .carousel-caption {
    top: 10%;
    left: 1% !important;
  }
  .carousel-inner .text-block h4 {
    font-size: 30px;
    line-height: 40px;
  }

  .header-down {
    display: none !important;
  }

  .mobilenav {
    display: block !important;
  }
  .mobilenav.card {
    border: none;
  }

  .logo_img {
    width: 120px;
  }

  #newsletter .phone {
    font-size: 16px !important;
  }
  #newsletter .phone a {
    font-size: 16px;
  }

  .main_header .btn-cart .badge-danger, .mobilenav .btn-cart .badge-danger {
    right: 8%;
    top: 1%;
  }
}
@media (max-width: 820px) {
  .carousel-inner .carousel-item img.home-bg {
    height: 100%;
    min-height: 450px;
  }
  .carousel-inner .carousel-caption {
    right: 5%;
    top: 20%;
    left: 1% !important;
  }

  .header-down {
    display: none !important;
  }

  .mobilenav {
    display: block !important;
  }
  .mobilenav.card {
    border: none;
  }

  .logo_img {
    width: 120px;
  }

  #newsletter .phone {
    font-size: 16px !important;
  }
  #newsletter .phone a {
    font-size: 16px;
  }

  .main_header .btn-cart .badge-danger, .mobilenav .btn-cart .badge-danger {
    right: 8%;
    top: 1%;
  }
}
@media (max-width: 600px) {
  .pt-50 {
    padding-top: 50px;
  }

  .pb-50 {
    padding-bottom: 50px;
  }

  .carousel-inner .carousel-item img.home-bg {
    height: 100%;
    min-height: auto;
  }
  .carousel-inner .text-block h4 {
    font-size: 20px;
    line-height: 30px;
  }
  .carousel-inner .carousel-caption {
    right: 5%;
    top: 5%;
    left: 0% !important;
  }
  .carousel-inner .carousel-caption .img-media {
    display: none;
  }

  .mobilenav {
    display: block !important;
  }
  .mobilenav.card {
    border: none;
  }

  .logo_img {
    width: 100px;
  }

  .btn_2 {
    display: inline-block;
    margin-left: 0 !important;
  }

  .mobile_btn .btn_1 {
    display: none !important;
  }

  .heading1 {
    font-size: 39px;
    line-height: 40px;
  }

  #button {
    bottom: 60px;
    right: 30px;
  }
}
@media (width: 540px) {
  .carousel-inner .carousel-caption {
    right: 25%;
    top: 20%;
    left: 25%;
  }
}
@media (width: 412px) {
  .carousel-inner .carousel-caption {
    top: 10%;
    left: 13%;
  }
}
/*********************************************************************************************************************************/
/*********************************************************** M.E.D.I.A ***********************************************************/
/*********************************************************************************************************************************/
/*********************************************************************************************************************************/
/*********************************************************** F.O.O.T.E.R***********************************************************/
/*********************************************************************************************************************************/
.footer {
  position: relative;
  z-index: 1;
  padding: 80px 0;
  background-color: rgba(0, 0, 0, 0.95) !important;
  overflow: hidden;
}
.footer .flogo {
  max-width: 100px;
}
.footer .footer-about {
  margin-right: 50px;
  color: #c8c9cc;
}
.footer .container {
  position: relative;
}
.footer .foot-title {
  display: block;
  font-size: 22px;
  line-height: 22px;
  color: #fff;
  position: relative;
  padding-bottom: 30px;
  margin-bottom: 30px;
  letter-spacing: 1px;
}
.footer .foot-title:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 6px;
  height: 6px;
  background-color: #ff9b08;
  border-radius: 6px;
}
.footer .foot-title:after {
  content: "";
  position: absolute;
  left: 13px;
  bottom: 1px;
  width: 29px;
  height: 2px;
  background-color: #ff9b08;
}
.footer a {
  color: #c8c9cc;
  text-decoration: none !important;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
.footer ul.social li {
  padding: 3px 0;
}
.footer ul.social li a i {
  margin-right: 5px;
  font-size: 25px;
  transition: 0.5s all ease;
}
.footer ul.social li:hover a i {
  font-size: 30px;
  margin-top: -10px;
}
.footer ul.social li a {
  color: #c8c9cc;
}
.footer ul.quick-links li a, .footer ul p, .footer ul i {
  color: #c8c9cc;
}
.footer ul.social li a:hover {
  color: #fff;
}
.footer ul.quick-links li {
  padding: 8px 0;
  transition: 0.5s all ease;
}
.footer ul.quick-links li:hover {
  margin-left: 5px;
  font-weight: 700;
}
.footer ul.quick-links li a:hover {
  color: #fff;
}
.footer ul.quick-links li a i {
  margin-right: 5px;
}
.footer ul.quick-links li:hover a i {
  font-weight: 700;
}

/* social link css */
.footer-social-links {
  overflow: hidden;
  padding-inline-start: 0 !important;
}
.footer-social-links li {
  display: inline-block;
  float: left;
  margin-right: 10px;
}
.footer-social-links li a i {
  height: 40px;
  width: 40px;
  border: 1px solid #5a5a5a;
  display: block;
  border-radius: 50%;
  color: #fff;
  font-size: 14px;
  text-align: center;
  line-height: 38px;
  transition: all 500ms ease;
  background: #202125;
}
.footer-social-links li a:hover i {
  background: #ff9b08;
  color: #fff;
  border-color: #ff9b08;
}

footer a {
  transition: all 0.5s ease 0s;
  text-decoration: none;
  outline: none;
  color: #fff !important;
}
footer a:hover, footer a:active, footer a:focus {
  transition: all 0.5s ease 0s;
  text-decoration: none;
  outline: none;
  color: #fff !important;
}

.copyright_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-line {
  flex: 1;
  height: 1px;
  width: 100%;
  z-index: 1;
  background-color: #2e2e2e;
}

.copyright {
  text-align: center;
  margin: 0 30px;
  color: #c8c9cc;
}

.right-line {
  flex: 1;
  height: 1px;
  width: 100%;
  z-index: 1;
  background-color: #2e2e2e;
}

.img-app {
  height: 40px;
}

@media (max-width: 767px) {
  .footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
  }
}
/*********************************************************************************************************************************/
/*********************************************************** F.O.O.T.E.R***********************************************************/
/*********************************************************************************************************************************//*# sourceMappingURL=main.css.map */